<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=DM+Serif+Display&family=Libre+Baskerville&family=Roboto+Slab:wght@500&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Weather Wizard</title>
</head>

<body>

    <div class="secondSearch">
        <form action="/search" method="POST" class="search">
            <input type="text " placeholder="Enter city" style="height:50px; width:90%; " class="bar">
            <input type="submit" value="search" class="searchbtn">
        </form>
    </div>

    <div class="main">
        <div class="name">
            <h1>Hyderabad, IN</h1>
            <p> 12, sep 2023 7:30 pm</p>
        </div>
        <div class="description">
            <div class="mini">
                <h1>27&deg C</h1>
                <img src="" alt="img">
                <p>Haze</p>
            </div>
            <div class="minmax">
                <div>
                    <h3> max temp</h3>
                    <p>40 &deg c</p>
                </div>
                <hr>
                <div>
                    <h3> min temp</h3>
                    <p>40 &deg c</p>
                </div>
            </div>

        </div>

        <div class="tempcontainer">
            <div class="box1 item">
                <h3>Feels like</h3>
                <p>34 &deg c</p>
            </div>
            <div class="box2 item">
                <h3>humidity</h3>
                <p>34 &deg c</p>
            </div>
            <div class="box3 item">
                <h3>pressure</h3>
                <p>34 &deg c</p>
            </div>
            <div class="box4 item">
                <h3>w speed</h3>
                <p>34 &deg c</p>
            </div>

        </div>


        <div class="data">
            <table>
                <tr>
                    <th colspan="2" style="text-align:center">Weather Data of Hyderabad</th>

                </tr>

                <tr>
                    <td>Sunrise Time</td>
                    <td>12:34:09 AM</td>

                </tr>
                <tr>
                    <td>Sunset Time</td>
                    <td>12:49:13 PM</td>

                </tr>
                <tr>
                    <td>Wind Degree</td>
                    <td>210°</td>

                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>78.4744°</td>

                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>17.3753°</td>

                </tr>
            </table>
        </div>

    </div>

</body>

</html>