<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=DM+Serif+Display&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- 173, 224, 105 ADE069
    148, 205, 229  94CDE5
    202, 224, 255 CAE0FF
    168, 199, 82  A8C752 -->



    <div class="top">
        <!-- <img src="./images/ban.jpeg "> -->
        <div class="heading">
            <h1>Weather Wizard</h1>
            <form action="/search" method="POST" class="search">
                <input type="text " placeholder="Enter city" style="height:50px; width:90%; ">
                <button class="searchbtn">search</button>
            </form>

        </div>

    </div>
    <footer class="context">
        <!-- <p>The Weather Wizard is a simple and intuitive way to stay up-to-date on the latest weather conditions. With just a few taps, you can get the current temperature, humidity, wind speed, and forecast for your current location or any other city in
            the world.
        </p> -->
        Designed by @sneha-thiyagarajan

    </footer>
</body>

</html>