html,
body {
    margin: 0;
    height: 100%;
    background-image: url('/images/aes.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/* background-color: #8BFD8A; */

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    width: 90%;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

div.heading h1 {
    color: #2C76D5;
    text-align: center;
    font-size: 70px;
    text-shadow: 3px 3px 1px black;
    font-family: 'Libre Baskerville', serif;
}

input {
    background-color: rgba(212, 229, 242, 80%);
    /* background: rgba(255, 122, 89, .5); */
    /* opacity: 50%; */
    border-color: #2C76D5;
    border-style: ridge;
    border-radius: 25px 25px;
    box-shadow: 3px 3px 5px black;
    font-size: clamp(22px, 4vw, 30px);
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #0f3363;
}

.search {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.searchbtn {
    /* opacity: 80%; */
    border-color: #2C76D5;
    border-style: ridge;
    border-radius: 25px 25px;
    box-shadow: 3px 3px 8px black;
    font-size: clamp(22px, 4vw, 24px);
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #0f3363;
    width: min-content;
}

.searchbtn:hover {
    box-shadow: 3px 3px 5px black;
}

.context {
    background-color: #8BFD8A;
    padding: 5px;
    text-align: center;
    vertical-align: center;
    font-family: sans-serif;
    color: #2C76D5;
}


/* p {
    text-align: center;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    color: #2C76D5;
    font-weight: 500;
    text-shadow: 3px 3px 4px white;
} */

.secondSearch {
    margin: 50px;
}

.main {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: #C5FEC5;
    border-radius: 25px 25px;
    box-shadow: 3px 3px 5px black;
    margin: auto;
    width: clamp(300px, 95vw, 80vw);
    /* width: 80%; */
    /* overflow: hidden; */
}

div.name h1 {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(32px, 4vw, 38px);
    /* font-size: clamp(2rem, 7vh, 3rem); */
    /* font-size: 7vh; */
    color: #0A4C7E;
    margin: 3px;
}

div.name p {
    margin: 3px;
}

p {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(22px, 4vw, 25px);
    /* font-size: 25px; */
    /* font-size: clamp(2rem, 4vh, 5rem); */
    font-weight: 500;
    color: #0A4C7E;
    width: max-content;
    opacity: 80%;
    margin: 9px auto 1px auto;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    width: max-content;
    /* margin: auto; */
    font-size: clamp(22px, 4vw, 24px);
    /* font-size: clamp(2vh, 4vh, 4vh); */
}

div.item h3 {
    margin: auto;
    font-weight: 400;
}

.name {
    padding: 20px;
}

.description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    /* width: 90%;
    height: 20vh; */
    /* margin: auto auto auto 3px; */
}

div.mini h1 {
    margin: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: clamp(2rem, 7vh, 9rem);
    color: #0A4C7E;
    height: min-content;
    grid-column-start: 1;
    grid-column-end: 3;
}

div.mini p {
    margin: auto auto auto 0;
    font-size: clamp(22px, 4vw, 4vh);
}

div.mini img {
    margin: auto 9px auto auto;
    height: min-content;
    align-items: end;
}

.mini {
    box-shadow: 5px 3px 9px rgb(52, 52, 52);
    background-color: #dbf8db;
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2fr;
    border-radius: 25px 25px;
}

.minmax {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px;
    color: #0A4C7E;
}

.tempcontainer {
    margin: 20px;
    padding: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.item {
    background-color: rgb(10, 76, 126, 80%);
    border-radius: 25px 25px;
    color: #C5FEC5;
    /* height: 90%;
    margin: 5px; */
    padding: 10px;
}

div.tempcontainer p {
    color: #C5FEC5;
    font-size: clamp(22px, 4vw, 4vh);
}

table {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(22px, 4vw, 24px);
    border-collapse: collapse;
    width: 100%;
    color: #0A4C7E;
    box-shadow: 5px 3px 9px rgb(52, 52, 52);
    padding: 4vh;
}

td,
th {
    border: 1px solid #062a46;
    text-align: center;
    padding: 10px;
    background-color: #dbf8db;
}

th {
    color: #07375c;
}

.data {
    margin: 40px;
}